{% extends "auth_base.html" %}
{% block title %}注册 - 店铺智能体训练工作台{% endblock %}
{% block body %}
<div class="shell">
<form class="box" method="post">
<h1>注册账号</h1>
<div class="tip">注册后默认可直接使用。管理员可在账号后台修改密码、禁用账号、设置到期时间。</div>
<label>账号</label>
<input name="username" value="{{ username or '' }}" autocomplete="username" autofocus>
<label>密码</label>
<input name="password" type="password" autocomplete="new-password">
<label>确认密码</label>
<input name="password2" type="password" autocomplete="new-password">
<button type="submit">注册并登录</button>
<div class="row" style="margin-top:12px"><a class="link" href="/login">已有账号，去登录</a></div>
{% if error %}<div class="err">{{ error }}</div>{% endif %}
</form>
</div>
{% endblock %}
